.average {
	text-align: center;
	color: #a8a8a8;
}
.average span {
	font-size: 2rem;
}

.chart {
	height: 300px;
	width: 1200px;
	margin: 0 auto;
}

.info {
	text-align: center;
}

.dateToggler {
	font-size: 1.4rem;
	text-align: center;
	border: 2px solid #000;
}

/* Tablet */
@media (max-width: 1200px) {
	.chart {
		height: 250px;
		width: 700px;
	}

	.dateToggler {
		font-size: 1.6rem;
	}
}

/* Mobile */
@media (max-width: 800px) {
	.chart {
		width: 100%;
		height: 200px;
	}

	.dateToggler {
		font-size: 1.2rem;
	}
}
