.average {
	text-align: center;
	color: #a8a8a8;
}
.average span {
	font-size: 2rem;
}

.chart {
	max-height: 500px;
	height: auto;
	min-height: 300px;
}

.info {
	text-align: center;
}

.dateToggler {
	font-size: 1.4rem;
	text-align: center;
	border: 2px solid #000;
}
